<button type="button" class="btn form-btn btn-danger" data-bs-toggle="modal" data-bs-target="#DropDelete">
    Delete
</button>

<div class="modal fade" id="DropDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete the discount</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Do you really want to remove the discount?</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'discount_delete' object.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
