<div class="dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b>Flights</b>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'flights_list' %}">Registered flights</a></li>
        <li><a class="dropdown-item" href="{% url 'flight_add' %}">Flight Check-in</a></li>
    </ul>
</div>

<div class="dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b>Staff</b>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'staff_list' %}">List of staff</a></li>
        <li><a class="dropdown-item" href="{% url 'staff_add' %}">Staff add</a></li>
    </ul>
</div>

<div class="dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b>Cities</b>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'cities_list' %}">List of cities</a></li>
        <li><a class="dropdown-item" href="{% url 'city_add' %}">City add</a></li>
    </ul>
</div>

<div class="dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b>Airplane</b>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'airplane_list' %}">List of airplanes</a></li>
        <li><a class="dropdown-item" href="{% url 'airplane_add' %}">Airplane add</a></li>
    </ul>
</div>

<div class="dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b>Discount</b>
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'discount_list' %}">List of discount</a></li>
        <li><a class="dropdown-item" href="{% url 'discount_add' %}">Discount add</a></li>
    </ul>
</div>
